<div class="container">
  <button href="/" id="title">Your Dashboard</button>
  {{#each posts as |post|}}
  <div class="row banner space">
    <a href="dashboard/edit/{{post.id}}">{{post.title}}</a>
    <p>{{format_date post.date}}</p>
  </div>
  {{/each}}
</div>

<footer>
  <a href="/dashboard/new" class="new">+ New Post</a>
</footer>
